html, body {
  background: #fff;
  color: #000;
}

body {
  font: large/1.556 Palatino, Gentium, "Book Antiqua", Cambria, Georgia, "Times New Roman", serif;
  word-spacing: 0.1em;
}

pre, kbd, samp, code, var, tt {
  font: medium/1.5 Consolas, Inconsolata, "Andale Mono", Monaco, "Liberation Mono", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", monospace;
  word-spacing: 0;
  letter-spacing: 0;
}

abbr {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}

.url, .file, .var {
  font-style: italic;
}

kbd {
  font-weight: bold;
}

#book {
  max-width: 1024px;
  margin: 0 auto;
}

#fns {
  padding-left: 1.5em;
}

#fns, #fns pre, #fns code {
  font-size: 80%;
}

sup a {
  font-size: 80%;
}

.u, table.bc tbody td {
  font: 100%/1 "Arial Unicode MS", FreeSerif, OpenSymbol, "DejaVu Sans", sans-serif;
}

.baa {
  font: oblique 105% Constantia, Baskerville, Palatino, "Palatino Linotype", "URW Palladio L", serif;
}

.sidebar {
  background-color: lightgray;
  border: thin solid black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 1em 0.5em 1em;
}

.sidebar > p.st {
  text-align: center;
  font-weight: bold;
}

.note {
  margin: 3.112em 4.94em;
  padding: 0.5em 1em 0.5em 1em;
  border: solid #D6F3D6;
}

.warning {
  margin: 3.112em 4.94em;
  padding: 0.5em 1em 0.5em 1em;
  border: solid #F3E3D6;
}

.note p, .warning p {
  margin-left: 3em;
}

.note span.u, .warning span.u {
  display: block;
  float: left;
  font-size: 266.7%;
  line-height: 0.53;
  margin: 0 0.22em 0 -1.22em;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted;
}

a:hover {
  border-bottom: 1px solid;
}

a:link, .w a {
  color: FireBrick;
}

a:visited {
  color: RosyBrown;
}

.c a {
  color: inherit;
}

/* headers */

h1, thead th {
  text-transform: uppercase;
}

h1, h2, h3, h4, caption, thead th {
  font-family: Haettenschweiler, Impact, "Arial Narrow", Helvetica, Arial, sans-serif;
  text-shadow: 0 0 1px #667;
}

h1 {
  font-size: 266.7%;
  line-height: 1.1;
  text-align: center;
  width: 100%;
}

h2 {
  font-size: 210%;
  line-height: 1.3125;
}

h3 {
  font-size: x-large;
  line-height: 1.167;
}

h1:before {
  content: counter(h1) ". ";
}

/* lists */

dt {
  font-weight: bold;
}

/* tables and figures */

.tt, .ft {
  font-weight: bold;
}

.table > table, .figure img {
  border: thin solid black;
  width: auto;
}

.table th, .table td  {
  padding: 0.5em;
  margin: 0;
  border-spacing: 0;
}

.table p {
  margin: 0;
  padding: 0;
}

.table pre {
  background: none;
  padding: 0;
  margin: 0;
}

.figure {
  padding: 1em;
  margin-left: 3em;
}

/* previous/next navigation links */

.v a {
  text-decoration: none;
  border: 0;
  display: block;
}

.v a:first-child {
  float: left;
}

.v a:last-child {
  float: right;
}

.v span {
  font-size: 1000%;
  line-height: 1;
  text-shadow: gainsboro 3px 3px 3px;
}

/* copyright */

.c {
  line-height: 2.154;
  clear: both;
  text-align: center;
  margin: 2.154em 0;
}

/* Temporary styles to be removed when the book is finished */

.wtf {
  background-color: red;
  color: yellow;
}